li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none
}
.midlaner {background-color: #ffea00}
.toplaner {background-color: #eeeeee}

.send{
    width: 60%;
    margin: 40px auto;
}

.card{
    width: 27%;
    margin: 35px 0 35px 0px;
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: aliceblue;
}
#collapsibleNavbar{
    justify-content: flex-end;

}

#collapsibleNavbar ul>li{
   width: 43%;

}
#collapsibleNavbar ul{
    margin-right: 120px;
}

.cartspan{
    float: right;
    color: green;
    font-family: monospace;
    font-size: large;
}

.dell{
    background-image: url('./img/delete.png');
    width: 14%;
    height: 46px;
    background-size: cover;
    float: right;

}
.comform{
    position: relative;
}
.comment{
    padding: 0 !important;
    position: absolute;
    top: 28px;
    left: -14px;
}
.jumbo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.comments{
    float: right;
    position: relative;
}
.navbar{
    padding: 0px !important;
}


/* //--------------------------------- */

#dellet {
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid #bdbdbd;
    height: 48px;
    padding: 0 18px 0 1px;
    letter-spacing: 0.25px;
    border-radius: 24px;
    cursor: pointer;
}
.btns:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
   
}
.btns:hover {
    -moz-box-shadow: 3px 3px 4px 3px #ccc;
    -webkit-box-shadow: 3px 3px 4px 3px #ccc;
    box-shadow: 3px 3px 4px 3px #ccc;
  transition: all0.8s
}
.btns .mdi {
    margin-right: 8px;
}
.btn-delete {
    font-size: 16px;
    color: red;
}
.btn-delete > .mdi-delete-empty {
    display: none;
}
.btn-delete:hover {
    background-color: #fff5f5;
}
.btn-delete:hover > .mdi-delete-empty {
    display: block;
}
.btn-delete:hover > .mdi-delete {
    display: none;
}
.btn-delete:focus {
    box-shadow: 0 0 0 4px #fcc;
}


/* login_form styles */


.signin {
  background-color: #d3d3d3;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}

.login {
  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  background: url(https://picsum.photos/id/1004/5616/3744) no-repeat   center center #505050;   
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}

.login form {
  padding-top: 80px;
}

.login .active {
  border-bottom: 2px solid #1161ed;
}

.nonactive {
  color: rgba(255, 255, 255, 0.2);
}

.login h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

.login h2:first-child {
  padding-left: 0px;
}

.login span {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4; 
  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.login .text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.login .text:focus + span {
  opacity: 0.6;
}

.login input[type="text"],
.login input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}



.login input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

.login h2,
span,
.custom-checkbox {
  margin-left: 20px;
}

.login .custom-checkbox {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
}

.login .custom-checkbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.login .custom-checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}

.login .custom-checkbox:focus {
  outline: none;
}

.login label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.login .signin {
  background-color: #1161ed;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.login .signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.login .signin:focus {
  outline: none;
}

.login hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}

.login a {
  text-align: center;
  display: block;
  top: 120px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}
#delspan{
    margin-left: 0px !important;
}

.navlink_ul_li{
  border-bottom: outset;
  color: #1161ed ;
  background-color: #494f58;
}

/* ------------------------------tab------------------------------------------------ */

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 10px;
}
#exTab2 .active {
  color : rgba(255, 255, 255, 0.5);
  border-bottom: seagreen 1px solid;
  padding : 5px 10px;
}
/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

.text+ span{
  color: #eeeeee;
}

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
             font-size:80px;
             }
             
             .link_404{          
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
    .contant_box_404{ margin-top:-50px;}



    .tests{
      /* background-image: url(https://cdn.dribbble.com/users/1803663/screenshots/10977530/media/f7fc61a62d953a220dc8b12ddcee6f09.png);
      height: 400px; */
      background-position: center;
     
   }

   /* ---------------backgroundvideo------------------------- */

   #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    top: 79px;
  }
  .text-center{
      margin: 0 auto;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    top: 79px;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
    