<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"  alt="" width="140" height="37" </a>
                <a>https://habr.com/ru/post/273581/</a>
                <a>http://getinstance.info/search/?q=Handlebars&PAGEN_1=2</a>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5><a href="https://sequelize.org/master/manual/associations.html">sequalize joins </a></h5>
              <dl class="contact-list">
                <dt><a href="https://dribbble.com/shots/following/animation">animated backrouns</a></dt>
                <a href="http://getinstance.info/search/?q=Handlebars&PAGEN_1=2">hendlbarscd</a>
              </dl>
              <dl class="contact-list">
                <dt>icons:</dt>
                <dd><a href="https://www.flaticon.com/free-icons/trash">icons</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>saits:</dt>
                <dd><a href="https://webdraftt.com/tutorial/nodejs/authentication">
                          node.js best site</a> </br>
                           <span>or</span> <a href="tel:#">https://karosearch.com</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="https://allwebstuff.info/%D0%BA%D0%B0%D0%BA-%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-orm-sequelize">ORM Sequalise </a></li>
                <li><a href="https://habr.com/ru/post/273581/">Handlebars</a></li>
                <li><a href="http://getinstance.info/search/?q=Handlebars&PAGEN_1=2">хелперы Handlebars.js</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>
      </footer>