{{#if comments}}
   {{> comments/coments}}
{{else}}
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">This post not hav a coment yeat</h1>
    <p class="lead">переходите раздел комментариев</p>
  </div>
</div>
{{/if}}

 {{> footer/footer}}